@import 'tailwindcss';
@config '../tailwind.config.js';





body {
  margin: 0;
  padding: 0;
  background-color: #111827;
  color: #f9fafb;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
